[Unit]
Description=Gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile={{ gunicorn_pid }}
User={{ gunicorn_user }}
Environment=DJANGO_SETTINGS_MODULE={{ django_settings_module }}
{% for key in gunicorn_environment %}Environment={{ key }}={{ gunicorn_environment[key] }}
{% endfor %}
RuntimeDirectory={{ gunicorn_runtime_directory }}
WorkingDirectory={{ gunicorn_working_directory }}
ExecStart={{ gunicorn_bin }} --pid {{ gunicorn_pid }} --bind {{ gunicorn_socket_unix }} {{ gunicorn_wsgi_app }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target