server {
    listen 80;


    location /static/ {
        root {{ django_static_root }};
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:{{ gunicorn_socket }};
    }
}